body{
    background-color: #98896b;
    color:beige;
    font-family: "Baskervville SC", serif;
    padding:0 50px;
}
header{

    background-color: rgb(238, 193, 44);
    padding: 40px;
    
    }
    .links{
       color:rgb (0,139, 69); /*color do texto*/
       font-size: size 50px; /*tamanho do texto*/
       text-decoration:none;/*retirar a sublinha*/
       background-color: rgb(114, 114, 240); /*espaço em torno*/
       padding:15px 25px;
       border-radius:30px;
}

h1{
    text-align: center;

}

